.grass{
    background-color: #7AC74C;
    padding: 3px 8px;
    margin: 9px;
    border-radius: 10px;
    width: fit-content;
}

.poison{
    background-color: #A33EA1;
    padding: 3px 8px;
    margin: 9px;
    border-radius: 10px;
    color: white;
}
.fire{
    background-color: #EE8130;
    padding: 3px 8px;
    margin: 9px;
    border-radius: 10px;
}
.flying{
    background-color: #A98FF3;
    padding: 3px 8px;
    margin: 9px;
    border-radius: 10px;
}
.water{
    background-color: #6390F0;
    padding: 3px 8px;
    margin: 9px;
    border-radius: 10px;
    color: white;
}
.bug{
    background-color: #A6B91A;
    padding: 3px 8px;
    margin: 9px;
    border-radius: 10px;
}
.normal{
    background-color: #A8A77A;
    padding: 3px 8px;
    margin: 9px;
    border-radius: 10px;
}
.electric{
    background-color: #F7D02C;
    padding: 3px 8px;
    margin: 9px;
    border-radius: 10px;
}
.ground{
    background-color: #E2BF65;
    padding: 3px 8px;
    margin: 9px;
    border-radius: 10px;
}
.fairy{
    background-color: #D685AD;
    padding: 3px 8px;
    margin: 9px;
    border-radius: 10px;
}
.fighting{
    background-color: #C22E28;
    padding: 3px 8px;
    margin: 9px;
    border-radius: 10px;
    color: white;
}
.psychic{
    background-color: #F95587;
    padding: 3px 8px;
    margin: 9px;
    border-radius: 10px;
}
.rock{
    background-color: #B6A136;
    padding: 3px 8px;
    margin: 9px;
    border-radius: 10px;
}
.steel{
    background-color: #B7B7CE;
    padding: 3px 8px;
    margin: 9px;
    border-radius: 10px;
}
.ice{
    background-color: #96D9D6;
    padding: 3px 8px;
    margin: 9px;
    border-radius: 10px;
}
.dragon{
    background-color: #6F35FC;
    padding: 3px 8px;
    margin: 9px;
    border-radius: 10px;
    color: white;
}
.ghost{
    background-color: #735797;
    padding: 5px 10px;
    margin: 9px;
    border-radius: 10px;
    color: white;
}




button.grass:hover {
    background-color: #85D055;
  }
  
  button.poison:hover {
    background-color: #AA49AE;
  }
  
  button.fire:hover {
    background-color: #F29643;
  }
  
  button.flying:hover {
    background-color: #B29DF5;
  }
  
  button.water:hover {
    background-color: #699BFE;
  }
  
  button.bug:hover {
    background-color: #B0CB1E;
  }
  
  button.normal:hover {
    background-color: #B2B182;
  }
  
  button.electric:hover {
    background-color: #F9D739;
  }
  
  button.ground:hover {
    background-color: #E6C671;
  }
  
  button.fairy:hover {
    background-color: #DCA2B7;
  }
  
  button.fighting:hover {
    background-color: #d14040;
  }
  
  button.psychic:hover {
    background-color: #FA6294;
  }
  
  button.rock:hover {
    background-color: #B9A843;
  }
  
  button.steel:hover {
    background-color: #BABACE;
  }
  
  button.ice:hover {
    background-color: #9CDEEA;
  }
  
  button.dragon:hover {
    background-color: #7841FE;
  }
  
  button.ghost:hover {
    background-color: #8163A9;
  }