<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/pokeball.png" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/detail.css">
    <title>
        Pokedex
    </title>
</head>

<body>

    <nav>
        <div style="width: 100vw;">
            <div style="display: flex; justify-content: space-evenly;">
                <div class="intro">
                    <img class="logo" src="/img/pokeball.png">
                    <h1>Pokedex by Matias</h1>
                    <img class="logo" src="/img/pokeball.png">
                </div>

                <a href="/"><button class='button'>Volver al Inicio</button></a>

            </div>



        </div>

    </nav>

    <main>
        <article id="pokemon">

            <div class="sup">

                <div class="nombre">

                </div>
                <h1 id='selectedPokemon'>N° <%= showPokemon %>
                </h1>
            </div>

            <img id='image'>
            <div class="pokeData">

                <div class="precio">


                </div>

        </article>

    </main>



    <script src="/js/detail.js"></script>

</body>

</html>