<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/logo-mercado-liebre.svg" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>
        Titulo
    </title>
</head>

<body>

    <nav>
        <div style="width: 100vw;">
            <div style="display: flex; justify-content: space-evenly;">
                <div class="intro">
                    <img class="logo" src="/img/pokeball.png">
                    <h1>Pokedex by Matias</h1>
                    <img class="logo" src="/img/pokeball.png">
                </div>

            </div>



        </div>

    </nav>

    <main>
        <div id="pokemon">
            <img id='image'>
            <div class="pokeData">

                <div class="precio">

                    <h5></h5>
                    <h6></h6>
                </div>
                <b>
                </b>

                <h4 class="desc"></h4>


            </div>

        </div>

    </main>




</body>

</html>