<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="shortcut icon" href="/img/pokeball.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/elements.css">

</head>

<body>

    <nav>
        <div style="width: 100vw;">
            <div style="display: flex; justify-content: space-evenly;">
                <div class="intro">
                    <img class="logo" src="/img/pokeball.png">
                    <h1>Pokedex by Matias</h1>
                    <img class="logo" src="/img/pokeball.png">
                </div>
                <input type="text" id="buscador">

            </div>

            <div class="elementos">
            </div>


        </div>

    </nav>
    <div class="container">
        <ul style="display: flex; flex-wrap: wrap; justify-content: center;" id="pokemon-list"></ul>

    </div>



    <script src="/js/pokedex.js"></script>
</body>

</html>